/*font-family: 'Fontdiner Swanky', cursive;
 font-family: 'Frijole', cursive;
 font-family: 'Oregano', cursive;
*/

/*font-family: 'Indie Flower', cursive;
font-family: 'Courgette', cursive;
font-family: 'Coming Soon', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-image: url(../img/paisajefondo.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Indie Flower', cursive;
color: white;
margin-left: 10px;
font-size: 70px;
text-align: center; 
}

h2{
font-family: 'Courgette', cursive;
color: white;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}

h3{
font-family: 'Coming Soon', cursive;
color: black;
font-size: 30px;
text-align: center; 
}

h4{
font-family: 'Coming Soon', cursive;
color: white;
font-size: 15px;
text-align: center; 
}

h5{
font-family: 'Coming Soon', cursive;
color: white;
font-size: 20px;
text-align: center; 
}

h6{
font-family: 'Coming Soon', cursive;
color: black;
font-size: 20px;
text-align: left; 
margin-left: 20px;
}
header{
	width: 1000px;
	height: 180 px;
	background: #022F4B;
	border-radius: 10px
}

nav{
width: 1000px;
height: 50px;
background: #095381;
border-radius: 10px;

}

ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: white;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px black inset;


 	
}

section{
	width: 800px;
	background: #A5DCFE;
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}

figure{
	text-align: center;
}

aside{

	width: 180px;
	background: #095381;
	height: 200px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 10px;

}

footer{
width: 1000px;
height: 100px;
background: #403B3B;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}

table{
	background: white;
	width: 300px;
	height: 100px;
	float: center;
	text-align: center;

}

label{
	border-radius: 10px;
	margin: 20px;

}
textarea{border-radius: 10px;
	width: 250px;
	text-align: left;
	border-color: white;
}

td{
	margin: 20px;
}
td{
	margin: 20px;
}
button{
	background: white;
	border-radius: 10px;
	margin: 20px;
	height: 40px

}


/*CLASES-ETIQUETAS*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: black; text-decoration: none;}
.menu:visited{color: black; text-decoration: none;}
.menu:hover{color: black; text-decoration: none; text-shadow: 0 0 20px black;}
.menu:active{color: white; text-decoration: none;}

.menu2:link{color: black; text-decoration: none;}
.menu2:visited{color: black; text-decoration: none;}
.menu2:hover{color: black; text-decoration: none; text-shadow: 0 0 20px black;}
.menu2:active{color: white; text-decoration: none;}
.seccionp{height: 660px;}
.secciondonar{width: 1000px;}
.formulario{background: #A5DCFE; }

/*CLASES-IMAGENES*/

.ninos{border-radius: 10px;}
.alimentacion{border-radius: 10px;}
.educacion{border-radius: 10px;}
.ayudar{border-radius: 10px; width: 200px; height: 200px; margin-left: 0px; margin-top: 40px; }
.cazuca{border-radius: 10px; width: 400px; height: 300px; }




















